.wrapper {
  width: 50%;
  height: 15rem;

  margin: auto;
  border-radius: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
  text-decoration: none;

  cursor: pointer;

  display: flex;

  transition: 0.5s ease-in;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.wrapper:hover {
  scale: 110%;
}

.container {
  flex-basis: 50%;
}

.image {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem 0 0 1.5rem;
}

.heading {
  color: rgb(0, 193, 0);

  font-size: 1.3rem;
  margin: 2rem;

  font-weight: bolder;
}
.paraWrapper {
  width: 100%;
  height: 4rem;
  overflow: hidden;
}

.instruction {
  color: rgba(73, 73, 73, 0.427);
  font-size: 0.8rem;
  font-weight: bold;
  margin: 2rem;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
  white-space: pre-wrap;
}

.box {
  flex-basis: 50%;
  margin: auto;
}
